*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    margin: 80px;
}

.item{
    width: 500px;
    height: 500px;
    margin: auto;
    display: none;
    text-align: center;
}

img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.active{
    display: block;
}

.hidden{
    display: none;
}

.arrowNext, .arrowPrev{
    background-color: rgba(0, 0, 0, 0.5);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid red;
}

.arrowNext{
    position: absolute;
    left: 50%;
    bottom: 170px;    
}

.arrowPrev{
    position: absolute;
    left: 50%;
    top: 100px;

}